.dashboard-card {
  color: #FEFEFE;
  flex-basis: 45vw;
  /* margin: 16px auto; */
  height: 40vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  background-color: #3E3D40;
  border-radius: 10px;
  overflow: hidden;

  -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.8);
}

.dashboard-card header {
  background-color: #313133;
  /* flex: 1; */
  height: 15%;
  display: flex;
  align-items: center;

  padding: 32px 16px;
  /* Adjust this to not use fixed sizes */
  box-sizing: border-box;
}

.dashboard-card header h2 {
  font-size: auto;
  font-weight: 800;
  letter-spacing: -0.05em;
}

.dashboard-card .content {
  /* background-color: rgba(0, 0, 0, 0.45); */
  /* flex: 5; */
  height: 80%;

  padding: 16px 16px;
  /* Adjust this to not use fixed sizes */
  box-sizing: border-box;
}